*{
    margin: 0;
}


body{
    width: 100vw;
    /*min-height: 100%;*/
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
}

nav{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    
}

#upNav {
    width: 60%;
    justify-self: flex-start;
    align-self: center;
    display: flex;
    margin-left: 20px;
    flex-direction: row;
}

li{
    list-style: none;
}

.upNavDivs {
    width: 50px;
    justify-items: center;
    font-size: small;
    flex-direction: row ;
    padding: 4px;
    margin: 9px;
}

#logo {
    margin: 20px;
    width: 120px;
    height: 25px;
}

#imageUp{
    width:120px;
}
    
#button{
    width: 100px;
    height: 40px;
    padding: 10px;
}

#buttonNav {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 1.25rem;
    background-color: blueviolet;
    border-color: blueviolet;
    color: white;
}

#containerHeader {
    width: 100vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}


h1 {
    top: 40%;
}


header{
    width: 100vw;
    height: 70vh;
    background-image: url(/Materiales/manos.jpg);
    background-position: center;
    background-size: cover;
}

header #containerHeader{
    background-color: #00000060;
    width: 100vw;
    height: 70vh;
}

#aboutUs{
    display: grid;
    width: 100vw;
    grid-template-areas:"up up up up"
                        "left center1 center2 right"
                        "left center3 center4 right"
                        "bottom bottom bottom bottom";
    grid-template-rows: 10% 40% 40% 10%;
    grid-template-columns: 10% 40% 40% 10%;
    gap: 3px;
    background-color: #5298ff;
    padding: 50px;
    
}

h2{
    margin-bottom: 20px;
}

.us1{
    grid-area: center1;
    background-image: url(/Materiales/oficina.png);
    background-position:center;
    background-size:cover;
   
}

.us2{
    grid-area: center2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    font-size: 1.025rem;
    color: white;
    margin-left: 10%;
}

.us3{
    grid-area: center4;
    background-image: url(/Materiales/voluntariado.jpg);
    background-position: center;
    background-size: cover;
    
}

.us4{
    grid-area: center3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    font-size: 1.025rem;
    color: white;
    margin-left: 10%;
}

.usImage{
    width: 40vw;
    height: 40vh;
    margin: 15px;
}
.oportunity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
}
h3{
    margin: 20px;
    font-size: 2rem;
}

.description{
    font-size: 1rem;
}
#container{
   margin:30px ;
   display: flex;
   flex-direction: row;
   gap: 10px;
}

.shape{
   width: 250px;
   height: 200px;
   border-radius: 1rem;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   padding-left: 2%;
   padding-bottom: 2%;
}

#color1{
    background-color: #dc3545;

}
#color2{
    background-color: #ff9c07;
}

#color3{
    background-color: #28a745;
}
#color4{
    background-color: #17a2b8;
}

.plusIcon{
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 100px;
    left: 180px;
}

.icons{
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 10%;
}
.size{
    width: 40px;
    height: 65px;
}

#sizeIcon{
    width: 70px;
    height: 60px;
}

span{
    color: white;
}


.carrusel{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#17a2b8;
}

.carruselNews{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.news{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.newsTitle{
    margin: 0px;
}

 
.allContent{
    width: 300px;
    height: 450px;
    border-radius: 0.50rem;
    display: flex;
    align-content: space-around;
    flex-direction: column;
    background-color: white;
    font-size: 0.75rem;
}

.date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 10px 0px 10px;
}

.imageCarrusel{
    width: 300px;
    height: 250px;
}

.chip{
    color: white;
    background-color: #5298ff;
    border-radius: 1rem;
    position: relative;
    top: -30px;
    margin: 10px;
    padding: 0 10px 0 10px;
    font-size: 0.70rem;
}

.mini{
    width: 100%;
    height: 100%;
    border-radius: 0.50rem;
    object-fit: cover;
}

.calendar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 12px;
    height: 12px;
    margin: 0px 5px 0px 0px;
}

.infoCarrusel{
    margin: 10px;
}
h4{
    margin-bottom: 15px;
}

#buttonForm {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 1.25rem;
    background-color: blueviolet;
    border-color: blueviolet;
    color: white;
}

#inputButton {
    margin-top: 2%;
    margin-left: 40%;
}


#final{
    display: flex;
    flex-direction: row;
}
/*#final {
    display: grid;
    width: 100vw;
    height: 80vh;
    grid-template-areas:"levelUp levelUp levelUp levelUp"
                        "middleLeft middleCenter1 middleCenter2 middleRight"
                        "levelDown levelDown levelDown levelDown";
    grid-template-rows: 20% 40% 40%;
    grid-template-columns: 10% 40% 40% 10%;
    gap: 5px;
}

.finalLeft {
    grid-area: middleCenter1;
}
*/
.finalLeft {
    
}



#imageFinal {
    object-fit: contain;
    padding: 10px;
    width: 100vh;
    height: 50vh;
}

#contactTitle {
    margin-top: 0;
}

#inputsDivs {
    display: flex;
    flex-direction: column;
    margin: 5%;
    text-align: left;
}

#inputText {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#contactForm {
    display: flex;
    flex-wrap: wrap;
}




footer{
    width: 100vw;
    background-color: #5298ff;
    display: flex;
    min-height: 5vh;
}

.footerLogo{
    width: 250px;
    margin: 10px;
}
.whiteLogo{
    object-fit: contain;

}

@media (width:390px) and (height:844px)  {
    
}